@if(quizData()){
  <h1 class="text-center">{{ quizData()?.description }}</h1>

  <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
    <p-step-list>
      @for(question of quizData()?.questions; track question.q_id){
        <p-step [value]="question.q_id"></p-step>
      }
    </p-step-list>
    <p-step-panels>
      @for(question of quizData()?.questions; track question.q_id){
        <p-step-panel [value]="question.q_id">
            <ng-template #content let-activateCallback="activateCallback">
                <div>
                    <h4 class="flex justify-content-center align-items-center">
                        {{ question.title }}
                    </h4>
                </div>
                <div class="flex pt-6 justify-content-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(question.q_id + 1)" />
                </div>
            </ng-template>
        </p-step-panel>
      }
    </p-step-panels>
  </p-stepper>
}
