@if(quizData()){
  <h1 class="text-center sm:text-sm md:text-base lg:text-lg xl:text-xl">{{ quizData()?.description }}</h1>

  <div class="xl:m-8 lg:m-8 md:m-4 sm:m-3">
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        @for(question of quizData()?.questions; track question.q_id){
          <p-step [value]="question.q_id"></p-step>
        }
      </p-step-list>
      <p-step-panels>
        <form [formGroup]="form" (click)="print()">
          @for(question of quizData()?.questions; track question.q_id){
            <p-step-panel [value]="question.q_id">
                <ng-template #content let-activateCallback="activateCallback">
                    <div>
                        <h4 class="flex sm:text-xs md:text-sm lg:text-base xl:text-lg justify-content-center align-items-center">
                            {{ question.title }}
                        </h4>
                    </div>
                    <div class="flex flex-column align-items-center justify-content-center">
                      <img [src]="'assets/images/' + question.img" class="h-full w-30rem" [alt]="question.img">
                      <div class="w-30rem mt-4">
                        @if(question.question_type == 'multiplechoice-multiple'){
                          <p-listbox [options]="question.possible_answers!" [formControlName]="question.q_id" optionLabel="caption" [checkmark]="true" [multiple]="true" [metaKeySelection]="false" class="w-full md:w-56" />
                        }
                        @else if(question.question_type == 'multiplechoice-single'){
                          <p-listbox [options]="question.possible_answers!" [formControlName]="question.q_id" optionLabel="caption" [checkmark]="true" [multiple]="false" [metaKeySelection]="false" class="w-full md:w-56" />
                        }
                        @else {
                          <p-radiobutton [inputId]="'Yes'" [formControlName]="question.q_id.toString()" [name]="question.q_id.toString()" [value]="true" variant="filled"/>
                          <label for="Yes" class="mx-2">Yes</label>
                          <p-radiobutton [inputId]="'No'" [formControlName]="question.q_id.toString()" [name]="question.q_id.toString()" [value]="false" variant="filled"/>
                          <label for="No" class="mx-2">No</label>
                        }
                      </div>
                    </div>
                    <div class="flex pt-6 justify-content-end">
                        <p-button type="click" label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="form.get(question.q_id.toString())?.invalid" (click)="activateCallback(question.q_id + 1)" />
                    </div>
                </ng-template>
            </p-step-panel>
          }
        </form>
      </p-step-panels>
    </p-stepper>
  </div>

}
